.page-header{
    background-color: rgb(57, 57, 224);
    .search-places-aria{
        span{
            margin-right: 10px;
        }
    }
    .search-input{
        background-color: transparent;
        border: none;
        outline: 0;
        font-size: 14px;
        color: rgb(180, 177, 177);
    }
}
